img {
  border-radius: 50%;
  height: 100px;
  width: 9vw;
  margin-top: 10px;
}

div {
  border: 1px solid black;
  border-radius: 10px;
  width: 90vw;
}

div#post {
  width: 20vw;
  margin-top: 10px;
  justify-content: center;
}

header {
  margin-bottom: 70px;
  display: flex;
  justify-content: end;
  background-color: aquamarine;
  border-radius: 10px;
}

header h1 {
  font-size: 3.2em;
  margin-left: 20vw;
  width: 60vw;
  flex-grow: 1;
  justify-content: space-between;
}

header img {
  margin-right: 30px;
}

.main {
  background-color: antiquewhite;
  text-align: center;
}

main{
    background-color: rgb(244, 196, 123);
    border-radius: 10px;
}

#root{
    background-color: chartreuse;
}

#iconKodkod{
    border-radius: 5px;
}
